//- module
.foot: .inner
  .d-flex.mb-4.align-items-center
    .flex-grow-1: div(style="width:90%;max-width:140px")
        img.w-100(src="/assets/img/g0v-only-white.svg")
    //div
      .input-group.input-group-sm
        input.form-control
        .input-group-append
          .btn.btn-outline-light 搜尋
  .sep.sep-light
  .pb-4
  .row
    .col-md-5.mb-4
      h5 關於 g0v
      .row
        .col: .mt-0.list
            .item: a(href=intlbase("/manifesto/")) g0v 宣言
            .item: a(href=intlbase("/dashboard/")) 儀錶板
            .item: a(href=intlbase("/faq/")) 常見問題
            .item: a(href=intlbase("/contact/")) 聯繫社群
            .item: a(href=intlbase("/event/")) 活動資訊
            .item: a(href=intlbase("/media/")) 媒體報導
            .item: a(href=intlbase("/coc/")) 社群守則
        .col: .mt-0.list
            .item: a(href="https://jothon.g0v.tw/transaction/",target="_blank") 收支明細
            .item: a(href="https://www.facebook.com/g0v.tw/",target="_blank") 臉書專頁
            .item: a(href="https://twitter.com/g0vtw",target="_blank") 推特專頁
            .item: a(href="https://flickr.com/g0v/",target="_blank") 活動影像
            .item: a(href="https://flickr.com/g0v/",target="_blank") 活動影片
    .col-md-3.mb-4.offset-md-1
      h5 線上協作
      .mt-2.list
        .item: a(href="http://www.facebook.com/groups/387816094628136/",target="_blank") 臉書後勤中心
        .item: a(href="http://join.g0v.tw/",target="_blank") Slack 聊天室
        .item: a(href="https://github.com/g0v",target="_blank") Github 源碼庫
        .item: a(href="https://g0v.hackmd.io/",target="_blank") HackMD 共筆
        .item: a(href="https://g0v.hackpad.tw/",target="_blank") Hackpad 共筆
        .item: a(href="/tool/") 協作工具

    .col-md-3.mb-4
      h5 參與貢獻
      .mt-2.list
        .item: a(href=intlbase("/novice/")) 新手指南
        .item: a(href="https://jothon.g0v.tw/",target="_blank") 黑客松入口網
        .item: a(href="https://github.com/g0v/landing-page") 官網原始碼    
      h5.mt-4 相關專案
      .mt-2.list
        .item: a(href="https://jothon.g0v.tw/about",target="_blank") jothon 揪松團
        .item: a(href="https://g0v.hackmd.io/@chihao/rJmYFi0YS",target="_blank") intl 國際交流專案
  .sep.sep-light.my-4
  .text-sm
    .d-inline-block.align-middle.mr-1(style="width:24px;height:24px;background:url(/assets/img/justfont.png) center center no-repeat;background-size:36px")
    a(href="https://justfont.com",style="display:inline") web font provided by justfont
  .text-sm
    .d-inline-block.align-middle.mr-1(style="width:24px;height:24px;background:url(/assets/img/loader-jothon.svg) center center no-repeat;background-size:36px")
    a(href="https://loading.io",style="display:inline") animations are made possible by loading.io
  .text-sm
    .d-inline-block.align-middle.mr-1(style="width:24px;height:24px;background:url(/assets/img/loader-jothon.svg) center center no-repeat;background-size:36px")
    a(href="https://jothon.g0v.tw/about",target="_blank") this website is maintained by jothon.g0v.tw
