//- module
//-
  parameters: ctrl.navtop
   - placeholder: add placeholder or not. ( if not, navbar will overlap with hero content )
   - className: space seperated navbar className
   - transition: comma joined, two space separated className for navbar in two state.
   - transitionTarget: css selector of node that its visibility is used to control navbar state.
- if(!ctrl.navtop) { ctrl.navtop = {placeholder: true, shown: true}; }
- if(!ctrl.navtop.className) { ctrl.navtop.className = "navbar-light bg-light" };
#nav-top
  nav.navbar.navbar-expand-lg.navbar-dark.bg-black.text-light(
    class=ctrl.navtop.className,
    data-transition=ctrl.navtop.transition,
    data-transition-target=ctrl.navtop.transitionTarget)

    button.navbar-toggler(type="button",data-toggle="collapse",data-target="#navbar-list"): span.navbar-toggler-icon
    #navbar-list.collapse.navbar-collapse
      a.navbar-brand(href=intlbase("/")): img(src="/assets/img/g0v-banner.svg",style="height:27px;margin-top:-8px")
      ul.navbar-nav
        li.nav-item: a.nav-link(href=intlbase("manifesto/")): :i18n nav:manifesto
        li.nav-item: a.nav-link(href=intlbase("coc/")): :i18n nav:coc
        li.nav-item: a.nav-link(href=intlbase("event/")): :i18n nav:events
        li.nav-item: a.nav-link(href=intlbase("novice/")): :i18n nav:newcomer
        li.nav-item: a.nav-link(href=intlbase("g0vernance/")): :i18n nav:g0vernance
        li.nav-item: a.nav-link(href=intlbase("faq/")): :i18n nav:faq
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href="#",data-toggle="dropdown"): :i18n nav:about
          .dropdown-menu
            a.dropdown-item(href=intlbase("dashboard/")): :i18n nav:dashboard
            a.dropdown-item(href=intlbase("timeline/")): :i18n nav:timeline
            a.dropdown-item(href=intlbase("contact/")): :i18n nav:contact
        li.nav-item: a.nav-link(href="https://ocf.neticrm.tw/civicrm/contribute/transact?reset=1&id=30",target="_blank"): :i18n nav:donate

      .navbar-nav.ml-auto#intl-btn-group
        button.btn.btn-dark.ml-1.btn-sm(data-target="en") EN
        button.btn.btn-dark.ml-1.btn-sm(data-target="ja") JA
        button.btn.btn-dark.ml-1.btn-sm(data-target="zh-TW") 中文

#nav-top-placeholder
