//- module
//-
  parameters: ctrl.navtop
   - placeholder: add placeholder or not. ( if not, navbar will overlap with hero content )
   - className: space seperated navbar className
   - transition: comma joined, two space separated className for navbar in two state.
   - transitionTarget: css selector of node that its visibility is used to control navbar state.
- if(!ctrl.navtop) { ctrl.navtop = {placeholder: true, shown: true}; }
- if(!ctrl.navtop.className) { ctrl.navtop.className = "navbar-light bg-light" };
#nav-top
  nav.navbar.navbar-expand-lg.navbar-dark.bg-black.text-light(
    class=ctrl.navtop.className,
    data-transition=ctrl.navtop.transition,
    data-transition-target=ctrl.navtop.transitionTarget)

    button.navbar-toggler(type="button",data-toggle="collapse",data-target="#navbar-list"): span.navbar-toggler-icon
    #navbar-list.collapse.navbar-collapse
      a.navbar-brand(href=intlbase("/")): img(src="/assets/img/g0v-banner.svg",style="height:27px;margin-top:-8px")
      ul.navbar-nav
        li.nav-item: a.nav-link(href=intlbase("manifesto/")): :i18n nav:manifesto
        li.nav-item: a.nav-link(href=intlbase("dashboard/")): :i18n nav:dashboard
        li.nav-item: a.nav-link(href=intlbase("novice/")): :i18n nav:newcomer
        li.nav-item: a.nav-link(href=intlbase("event/")): :i18n nav:events
        li.nav-item: a.nav-link(href=intlbase("faq/")): :i18n nav:faq
        li.nav-item: a.nav-link(href=intlbase("contact/")): :i18n nav:contact
        li.nav-item: a.nav-link(href="https://ocf.neticrm.tw/civicrm/contribute/transact?reset=1&id=30",target="_blank"): :i18n nav:donate
        //li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href="#",data-toggle="dropdown") 關於我們
          .dropdown-menu
            a.dropdown-item(href=intlbase("manifesto/")) 零時政府宣言
            a.dropdown-item(href=intlbase("contact/")) 聯繫我們
            a.dropdown-item(href=intlbase("dashboard/")) 儀錶板
            a.dropdown-item(href="http://hack.g0v.tw/transaction/",target="_blank") 收支明細

        //li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href="#",data-toggle="dropdown") 如何參與
          .dropdown-menu
            a.dropdown-item(href=intlbase("novice/")) 新手指南
            a.dropdown-item(href=intlbase("faq/")) 常見問題
            a.dropdown-item(href="https://ocf.neticrm.tw/civicrm/contribute/transact?reset=1&id=30",target="_blank") 小額捐款 #[i.fa.fa-usd]#[i.fa.fa-usd]
            .dropdown-divider
            a.dropdown-item(href="https://www.facebook.com/groups/g0v.general",target="_blank") 臉書後勤中心
            a.dropdown-item(href=intlbase("event/")) 活動資訊

        //li.nav-item: a.nav-link(href=intlbase("project/")) 成果列表

      .navbar-nav.ml-auto#intl-btn-group
        button.btn.btn-dark.ml-1.btn-sm(data-target="en") EN
        button.btn.btn-dark.ml-1.btn-sm(data-target="ja") JA
        button.btn.btn-dark.ml-1.btn-sm(data-target="zh-TW") 中文
        //-
          a.nav-item.nav-link(href="#") 正體中文
          a.nav-item.nav-link(href="#") English
          a.nav-item.nav-link(href="#") #[i.fa.fa-twitter]
          a.nav-item.nav-link(href="#") #[i.fa.fa-facebook]
          a.nav-item.nav-link(href="#") #[i.fa.fa-google-plus]
          a.nav-item.nav-link(href="#") #[i.fa.fa-github]

#nav-top-placeholder
