extends /base.pug
block head
  +css("/css/dashboard.css")
block body
  .w-1024.px-2.px-lg-4.mx-auto.rwd.typeset.heading-contrast
    .text-center.my-4.py-4
      img(src="/assets/img/g0v-only.svg",style="width:3em")
      h1.display-4.font-weight-bold g0v #[:i18n dashboard:dashboard]
      .text-muted g0v dashboard    
    hr    
    .text-center
      a#update-time.btn.btn-outline-dark(role="button" href="https://dashboard.g0v.tw/all" target="_blank"): :i18n dashboard:current
        span n/a
      p.text-center#loading-text: :i18n dashboard:loading
    .container.py-4
      .row
        .col-4.p-2: .card#slack-users
          .card-body.text-center
            p.card-text
              span 0
              a(style='font-size: 2em;') +
              br
              a(href='https://join.g0v.tw/', target='_blank'): :i18n dashboard:slack_user
        .col-4.p-2: .card#slack-channels
          .card-body.text-center
            p.card-text
              span 0
              :i18n dashboard:quantifier_1
              br
              :i18n dashboard:slack_channels
        .col-4.p-2: .card#slack-messages
          .card-body.text-center
            p.card-text
              span 0
              a(style='font-size: 2em;') +
              br
              a(href='https://g0v-slack-archive.g0v.ronny.tw/', target='_blank'): :i18n dashboard:slack_message
        .col-4.p-2: .card#summit-count
          .card-body.text-center
            p.card-text
              span 0
              :i18n dashboard:quantifier_2
              br
              a(href='https://summit.g0v.tw/', target='_blank'): :i18n dashboard:summit
        .col-4.p-2: .card#hackathon-count
          .card-body.text-center
            p.card-text
              span 0
              :i18n dashboard:quantifier_2
              br
              a(href='https://jothon.g0v.tw/events/', target='_blank'): :i18n dashboard:hackathon
        .col-4.p-2: .card#hackathon-proposals
          .card-body.text-center
            p.card-text
              span 0
              :i18n dashboard:quantifier_1
              br
              a(href='https://docs.google.com/spreadsheets/d/1C9-g1pvkfqBJbfkjPB0gvfBbBxVlWYJj6tTVwaI5_x8/', target='_blank'): :i18n dashboard:proposal
        .col-4.p-2: .card#fanpage-like
          .card-body.text-center
            p.card-text
              span 0
              :i18n dashboard:quantifier_3
              br
              a(href='https://www.facebook.com/g0v.tw', target='_blank'): :i18n dashboard:likes
        .col-4.p-2: .card#fanpage-follow
          .card-body.text-center
            p.card-text
              span 0
              :i18n dashboard:quantifier_3
              br
              a: :i18n dashboard:follows
        .col-4.p-2: .card#github-repos
          .card-body.text-center
            p.card-text
              span 0
              a(style='font-size: 2em;') +
              br
              a(href='https://github.com/g0v', target='_blank'): :i18n dashboard:repo
        .col-4.p-2: .card#10th-count
          .card-body.text-center
            p.card-text
              span 1
              :i18n dashboard:quantifier_2
              br
              a(href='https://10th.g0v.tw/', target='_blank'): :i18n dashboard:10th
    p.text-center
      | #[a(href="https://github.com/g0v/g0v-dashboard" target="_blank") g0v dashboard]
      :i18n dashboard:is_opensource
block script
  script(src='https://code.jquery.com/jquery-3.6.1.min.js' integrity='sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=' crossorigin='anonymous')
  script(type='text/javascript').            
    $(window).on('load', function(){ 
      $.get("https://dashboard.g0v.tw/", function(data){      
        $("#loading-text").fadeOut();
        //console.log(data);
        var date = new Date(data.create_at);
        $("#update-time span").text(date.toLocaleString());
        var titles = Object.keys(data.data);
        titles.forEach((_title) => {
          _data = data.data[_title];
          var subtitles = Object.keys(_data);
          subtitles.forEach((_subtitle) => {
            //console.log(`${_title}-${_subtitle}: ${_data[_subtitle]}`);
            $(`#${_title}-${_subtitle} .card-text span`).text(_data[_subtitle]);
          });      
        });
      });
    });
  
