extends /base.pug
block vars
  - ctrl.navtop.show = false;
block head
block body

  //-#landing(style="background:url(/assets/img/fluid-bk-left.svg) no-repeat -100px 0")
  #fb-root
  script(async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v8.0&appId=790774158155903&autoLogAppEvents=1" nonce="GYDp0yoU")
  #landing
    .dark-shape
    .lang
      a.btn.btn-light.ml-1.btn-sm(href="/intl/en/") EN
      a.btn.btn-light.ml-1.btn-sm(href="/intl/zh-TW/") 中文
    .row.content
      .thumb.col: img(src="/assets/img/g0v-hero.jpg")
      .desc.col
        img.d-block.mr-auto.ml-auto(src="assets/img/g0v-only.svg")
        p: :i18n index:introBlurb 
          a(href="#",data-scrollto="#more"): :i18n index:learnMore
        hr
        .text-center
          //-.btn.btn-outline-danger.mr-1.d-none.d-md-inline-block(data-scrollto="#more") 了解更多
          .btn.btn-outline-danger.mr-1.mb-2(data-scrollto="#projects") 成果列表
          .btn.btn-outline-danger.mr-1.mb-2(data-scrollto="#participate") 如何參與
          a.btn.btn-outline-danger.mb-2(href=intlbase("/manifesto/"),rol="button") g0v 宣言

  .w-1024.px-2.px-lg-4.mx-auto.rwd.d-flex
    div
      .typeset.heading-contrast.pt-4
        h2#news.m-0: :i18n index:latestNews
        hr
        p: :i18n index:governNotice
          a(href="https://g0v.hackmd.io/@chihao/Hkm9tPaxr" target="_blank"): :i18n index:governDoc
          p 自己的小編自己當
        h3 粉絲專頁
        .fb-page(data-href="https://www.facebook.com/g0v.tw" data-tabs="timeline" data-width="500" data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false")
          blockquote(cite="https://www.facebook.com/g0v.tw" class="fb-xfbml-parse-ignore")
            a(href="https://www.facebook.com/g0v.tw") g0v.tw 台灣零時政府
            
        h3 g0v.news
        #g0vnews
        p.text-right.my-4
          a(href="https://g0v.news/" target="_blank") more...
      .typeset.heading-contrast.pt-2
        .text-muted what is g0v?
        h2#more.m-0 零時政府是什麼？
        hr
        p g0v 是一個草根式的公民社群，致力於加深公民對社會的貢獻以及彼此間的連結。透過 g0v 社群，你可以在這裡尋找志同道合的夥伴，以草根的方式實踐你的理念，並將成果以開放授權模式釋出，讓更多的人可以站在你的成果上接力賽跑。
        p 將 gov 以「零」替代成為 g0v，從零重新思考政府的角色，也代表數位原生世代從 0 與 1 世界的視野。
        h3: :i18n index:operatingStyle
        p: :i18n index:operatingBlurb
        p.text-muted.text-sm: :i18n index:hackathonBlurb
        h3: :i18n index:communityMakeup
        p: :i18n index:communityBlurb
        p: :i18n index:cantCode

        h3 零時政府宣言
        p 最初由瞿筱葳起草，經社群多次討論與修改，零時政府宣言明確定義 g0v 的精神、協作與開源的中心思想，可以類比為零時政府的「憲法」。想更了解零時政府，請直接參考「#[a(href=intlbase("/manifesto/")) 零時政府宣言]」全文。

        h3 更多面向
        p 幾句簡單的話，實在無法說明完整的 g0v 樣貌。不過，你可以透過其他的面向來了解 g0v ，或者參考 Kirby 於 OSDC 2013 Keynote 所分享的「#[a(href="https://www.youtube.com/watch?v=0HURMy0l4Ck") g0v 黑客松 - 寫程式改造社會]」演講影片：
        .text-center.my-4.py-4
          a.btn.btn-outline-danger.mr-2.mb-2(href=intlbase("event/")) 活動資訊
          a.btn.btn-outline-danger.mr-2.mb-2(href=intlbase("novice/")) 新手指南
          a.btn.btn-outline-danger.mb-2(href=intlbase("faq/")) 常見問題
        .text-center.text-sm.text-muted OSDC 2013 Keynote 「g0v 黑客松 - 寫程式改造社會」 by Kirby
        .w-100.mb-4.mt-1
          .aspect-ratio(style="padding-top:75%"): .w-100.h-100: iframe.w-100.h-100(src="https://www.youtube.com/embed/0HURMy0l4Ck")

      .typeset.heading-contrast.pt-4
        .text-muted Projects
        h2#projects.m-0: :i18n index:portfolio
        hr
        p 自 2012 年底開始，零時政府以 g0v 黑客松作為起點，已舉辦了 4 次國際年會、4 屆公民科技獎助金、42+ 場黑客松、 40+ 場受邀演講、 150+ 次媒體報導，8000+ 遍布三大洲的貢獻者，成果皆以開放授權模式釋出，更多數據可參考#[a(href="/dashboard") g0v 儀錶板]，亦可參考 John Huang 製作的
          a(href="https://chunyenhuang.github.io/awesome-g0v-projects/#/" target="_blank"): :i18n index:portfolioLink
        p 數十次的黑客松亦產出了相當多的專案，所有專案成果及源碼均以開放授權分享於全體大眾。以下簡單介紹幾個知名 g0v 專案：
        include modules/project.pug
                  
        p 每次 g0v 大松提案皆透過線上直播，因此你可以從 g0v Youtube 頻道找到 #[a(href="https://www.youtube.com/user/g0vTW/playlists" target="_blank") 專案簡報與成果分享] 的影片紀錄。若你對黑客松的活動現場感到興趣，黑客松亦有#[a(href="https://flickr.com/g0v/" target="_blank") 平面影像紀錄]。
              
        h3 獎助金成果
        p 由 「#[a(href="https://jothon.g0v.tw/about/" target="_blank") g0v 揪松團]」 規畫執行的「#[a(href="https://grants.g0v.tw/" target="_blank") g0v 公民科技創新獎助金]」亦協助了包含「金流百科」、「農業災損幾多錢」、「開源神手」、「美國國會觀測站」、「投票指南」等許多專案。關於更多獎助金專案的成果，你可以到「#[a(href="https://grants.g0v.tw/power/") 公民科技創新獎助金成果報告]」中取得更多資訊。

      .typeset.heading-contrast.pt-4
        .text-muted Participate
        h2#participate.m-0 如何參與？
        hr
        p 了解 g0v 最快的方式就是實際來參與一次。無論線上或線下，你都可以找得到各種管道與社群參與者互動。
          | 想要更了解開源協作的模式，可以參考
          a(href="https://g0v.hackmd.io/@jothon/g0v-cowork-guideline" target="_blank") g0v 開源協作手冊
          | 。
        h3: :i18n index:events
        h4: :i18n index:hackathons
        p: :i18n index:eventsBlurb
        p: :i18n index:eventsBlurbCont
          a(href="https://jothon.g0v.tw/" target="_blank"): :i18n index:jothonWebsite
          t: :i18n index:jothonFollow
            a(href="http://g0v-jothon.kktix.cc" target="_blank"): :i18n index:jothonLink
            t: :i18n index:jothonEventInfo
        h4: :i18n index:otherHackathons
        p: :i18n index:infraHackathons
        p: :i18n index:smallHackathons

        h3: :i18n index:onlinePlatform
        p: :i18n index:onlinePlatformBlurb
        ul
          li: a(href="https://www.facebook.com/groups/g0v.general/" target="_blank"): :i18n index:g0vFacebook
          li: a(href="https://join.g0v.tw" target="_blank"): :i18n index:g0vSlack
        p: :i18n index:codeOfConduct
        h3: :i18n index:otherChannels
        p: :i18n index:participateMore
        .row
          .col-md-4: .card.shadow-sm.mb-4.h-100: .card-body
            h4.text-center: :i18n index:donate
            p: :i18n index:donateBlurb
            a.btn-block(href="https://ocf.neticrm.tw/civicrm/contribute/transact?reset=1&id=30&_ga=2.218722001.93807760.1535621686-361420765.1511415990" target="_blank"): :i18n index:donateLink
          .col-md-4: .card.shadow-sm.mb-4.h-100: .card-body
            h4.text-center: :i18n index:propose
            p: :i18n index:proposeBlurb
            a.btn-block(href="https://grants.g0v.tw" target="_blank"): :i18n index:proposeLink
          .col-md-4: .card.shadow-sm.mb-4.h-100: .card-body
            h4.text-center: :i18n index:organize
            p: :i18n index:organizeBlurb
            a.btn-block(href="http://g0v.network" target="_blank"): :i18n index:organizeLink
        
        h3: :i18n index:moreInfo
        p: :i18n index:callToAction
          a(href="/novice/"): :i18n index:newcomerGuide

    .d-none.d-md-block(style="min-width:8em"): .sticky.ml-4.pl-4.pt-4.border-left.border-danger
      br
      .mb-4
        .text-danger.clickable(data-scrollto="#news") 最新消息
      .mb-4
        a.clickable.d-block(href="#",data-scrollto="#more") 了解更多
        a.clickable.d-block(href="#",data-scrollto="#projects") 成果列表
        a.clickable.d-block(href="#",data-scrollto="#participate") 如何參與
      .mb-4
        a.clickable.d-block(href=intlbase("/manifesto/")) g0v 宣言
        a.clickable.d-block(href=intlbase("/dashboard/")) 儀錶板
        a.clickable.d-block(href=intlbase("/novice/")) 新手指南
        a.clickable.d-block(href=intlbase("/event/")) 活動資訊
        a.clickable.d-block(href=intlbase("/faq/")) 常見問題
        a.clickable.d-block(href=intlbase("/contact/")) 聯絡我們
        a.clickable.d-block(href="https://ocf.neticrm.tw/civicrm/contribute/transact?reset=1&id=30",
        target="_blank") 小額捐款

block script
  +script("/js/news.js")
  +script("/assets/threejs/r98/three.min.js")
  +script("/assets/svg-mesh/svg-mesh.js")
  +script("/js/landing.js")
