extends /base.pug
block vars
  - ctrl.navtop.show = false;
block head
block body

  //-#landing(style="background:url(/assets/img/fluid-bk-left.svg) no-repeat -100px 0")
  #fb-root
  script(async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v8.0&appId=790774158155903&autoLogAppEvents=1" nonce="GYDp0yoU")
  #landing
    .dark-shape
    .lang
      a.btn.btn-light.ml-1.btn-sm(href="/intl/en/") EN
      a.btn.btn-light.ml-1.btn-sm(href="/intl/ja/") JA
      a.btn.btn-light.ml-1.btn-sm(href="/intl/zh-TW/") 中文
    .row.content
      .thumb.col
        img(src="/assets/img/g0v-hero.jpg")
        .text-sm.text-muted.text-center(style="text-shadow:-1px 0 0px #fff") image credit - 林忠衡 / mooon / tuiry 
      .desc.col
        img.d-block.mr-auto.ml-auto(src="assets/img/g0v-only.svg")
        p: :i18n index:introBlurb
          | 
          a(href="#",data-scrollto="#more"): :i18n index:introLearnMore
        hr
        .text-center
          a.btn.btn-outline-danger.mr-1.mb-2(href=intlbase("/portfolio/")): :i18n nav:portfolio
          a.btn.btn-outline-danger.mr-1.mb-2(href=intlbase("/novice/")): :i18n nav:newcomer
          a.btn.btn-outline-danger.mb-2(href=intlbase("/manifesto/" + i18n.language()),rol="button"): :i18n nav:manifesto

  .w-1024.px-2.px-lg-4.mx-auto.rwd.d-flex
    div
      .typeset.heading-contrast.pt-4
        h2#news.m-0: :i18n index:latestNews
        hr
        p: :i18n index:governNotice
        p: :i18n index:governHashtag
        h3: :i18n index:facebookPage
        .fb-page(data-href="https://www.facebook.com/g0v.tw" data-tabs="timeline" data-width="500" data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false")
          blockquote(cite="https://www.facebook.com/g0v.tw" class="fb-xfbml-parse-ignore")
            a(href="https://www.facebook.com/g0v.tw" target="_blank") g0v.tw 台灣零時政府

      .typeset.heading-contrast.pt-4
        h2.m-0 社群 9 分鐘   
        hr
        p 「g0v 社群每月九分鐘」是 #[a(href="https://jothon.g0v.tw", target="_blank") g0v 揪松團]發起的分享文，每月上旬更新，希望每月可以用九分鐘的時間，跟你分享 g0v 社群的每月趣事。分享文是在 HackMD 上發表的#[a(href="https://g0v.hackmd.io/@jothon/community99/", target="_blank") 共筆]，歡迎共同編輯。   
        #community99
      .typeset.heading-contrast.pt-2
        h2#more.m-0: :i18n index:g0v_intro
        hr
        p: :i18n index:g0v_description
        p: :i18n index:g0v_description2
        h3: :i18n index:operatingStyle
        p: :i18n index:operatingBlurb
        p.text-muted.text-sm: :i18n index:hackathonBlurb
        h3: :i18n index:communityMakeup
        p: :i18n index:communityBlurb
        p: :i18n index:cantCode

        h3: :i18n index:g0vManifesto_title
        p: :i18n index:g0vManifesto_description
          a(href=intlbase("/manifesto/" + i18n.language())): :i18n index:g0vManifesto_link
          :i18n index:g0vManifesto_description2

        .row
          .col-md-4: .card.shadow-sm.mb-4.h-100: .card-body
            h4.text-center: :i18n index:eventInfo
            p: :i18n index:getInvolved_description
            a.btn-block(href=intlbase("event/")): :i18n index:eventInfo
          .col-md-4: .card.shadow-sm.mb-4.h-100: .card-body
            h4.text-center: :i18n index:newcomersGuide
            p: :i18n index:callToAction
            a.btn-block(href=intlbase("novice/")): :i18n index:newcomersGuide
          .col-md-4: .card.shadow-sm.mb-4.h-100: .card-body
            h4.text-center: :i18n index:donate
            p: :i18n index:donateBlurb
            a.btn-block(href="https://ocf.neticrm.tw/civicrm/contribute/transact?reset=1&id=30&_ga=2.218722001.93807760.1535621686-361420765.1511415990" target="_blank"): :i18n index:donateLink
        
    .d-none.d-md-block(style="min-width:10em"): .sticky.ml-4.pl-4.pt-4.border-left.border-danger
      br
      .mb-4
        a.clickable.d-block(href=intlbase("/manifesto/" + i18n.language())): :i18n nav:manifesto
        a.clickable.d-block(href=intlbase("/g0vernance/")): :i18n nav:g0vernance
        a.clickable.d-block(href=intlbase("/portfolio/")): :i18n nav:portfolio
        a.clickable.d-block(href=intlbase("/novice/")): :i18n nav:newcomer
        a.clickable.d-block(href=intlbase("/event/")): :i18n nav:events
        a.clickable.d-block(href=intlbase("/faq/")): :i18n nav:faq
        a.clickable.d-block(href=intlbase("/contact/")): :i18n nav:contact
        a.clickable.d-block(href="https://ocf.neticrm.tw/civicrm/contribute/transact?reset=1&id=30",
        target="_blank"): :i18n nav:donate

block script
  +script("/js/community99.js")
  +script("/assets/lib/threejs/r98/three.min.js")
  +script("/assets/lib/svg-mesh/svg-mesh.js")
  +script("/js/landing.js")
