extends /base.pug
block head
  style(type="text/css"): :stylus
    .row img { width: 100%; }
block body
  mixin ruby(text)
    each c in text
      b.char.cjk= c
  .w-1024.px-2.px-lg-4.mx-auto.rwd.typeset.heading-contrast
    .text-center.my-4.py-4
      img(src="/assets/img/g0v-only.svg",style="width:3em")
      h1.display-4.font-weight-bold 與社群聯繫
      .text-muted Contact with g0v Community
    | 
    .row
      .col-md-9
        each item, id in data.contact.zh
          h3(id="contact"+id) !{item.t}
          div !{item.d}
      .col-md-3
        .list-group.text-sm.sticky
          each item, id in data.contact.zh
            .list-group-item.text-truncate(data-scrollto=`#${"contact"+id}`) !{item.t}
