//- module
doctype html
include vars.pug
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    // libraries
    include /library.pug
    // custom files
    link(rel="stylesheet",type="text/css",href="css/index.css")
    script(src=assets + "/xfl/xfl.js")
    script(src=assets + "/stickyfill/2.1.0/stickyfill.min.js")
    script(src=assets + "/threejs/r98/three.min.js")
    script(src=assets + "/svg-mesh/svg-mesh.js")
    script(type="text/javascript",src="js/index.js")
  body
