extends /base.pug
block vars
  - ctrl.navtop.show = false;
block head
block body

  #landing
    .dark-shape
    .lang
      .btn.btn-light.ml-1.btn-sm EN
      .btn.btn-light.ml-1.btn-sm 中文
    .row.content
      .thumb.col: img(src="assets/img/g0v-hero.jpg")
      .desc.col
        img.d-block.mr-auto.ml-auto(src="assets/img/g0v-only.svg")
        p 自台灣發起、去中心化的公民科技社群「零時政府」，以資訊透明、開放成果、開放協作為核心，透過群眾草根的力量來關心公共事務。
        hr
        .text-center
          a.btn.btn-outline-danger.mr-1.text-danger(data-scrollto="#more") 了解更多
          a.btn.btn-outline-danger.mr-1.text-danger(data-scrollto="#projects") 成果列表
          a.btn.btn-outline-danger.mr-1.text-danger(data-scrollto="#participate") 如何參與

  .main#more
    .sticky: .inner
      div 最新消息
      br
      .text-danger.clickable(data-scrollto="#more") 了解更多
      .text-danger.clickable(data-scrollto="#projects") 成果列表
      .text-danger.clickable(data-scrollto="#participate") 如何參與
      br
      a(href=root + "manifesto/") g0v 宣言
      a(href="https://ocf.neticrm.tw/civicrm/contribute/transact?reset=1&id=30",target="_blank") 小額捐款
      a(href="https://hack.g0v.tw/transaction/",target="_blank") 收支明細
      br
      a(href=root + "novice/") 新手指南
      a(href=root + "faq/") 常見問題
      a(href=root + "coc/") 社群守則
      br
      div 更多資源..

    .inner.typeset.heading-contrast

      .para
        h1.sticky 零時政府是什麼？
        .text-muted what is g0v?
        +nbr(2)
        p 將 gov 以「零」替代成為 g0v，從零重新思考政府的角色，也是代表數位原生世代從 0 與 1 世界的視野。
        h3 運作模式
        p g0v.tw 的推動結合線上與實體，以各種網路工具加上兩個月一次的黑客松(註)工作坊，參與者自主提出專案邀集不同專業者加入，透過 g0v.tw 的實體、線上平台媒合各方資源，協作出專案成果，不定期會舉辦小型黑客松工作坊。分散式的組織強調自主參與的能量，鼓勵大家找出問題、提出解決方案、參與討論分享資源，以實作代替按讚。
        p （註：「黑客松」hackathon 即 hacker's marathon，是自主參加的密集合作活動，通常在一到兩天的限定時間內由提案、分組、工作、成果報告都自發加入，許多提案在活動前展開線上討論，當天實體活動迅速整合，能在短時間衝刺出初步成果。）
        h3 社群組成
        p g0v 參與者包含線上線下，來自各個領域，只要遵循「開源協作」理念，並不限於軟體專案。社群參與者組成從早期大多為工程師背景，到現在已有六成以上的參與者為非技術背景，其中包括設計、法律、社運、文字工作者等多種不同領域來的參與者。
        br
        .text-center
          small.text-muted.d-block.mb-1 透過不同面向來了解 g0v 吧：
          a.btn.btn-outline-danger.text-danger.mr-2(href="#") g0v 緣起
          a.btn.btn-outline-danger.text-danger.mr-2(href=root + "faq/") 常見問題
          a.btn.btn-outline-danger.text-danger(href=root + "media/") 媒體報導
        br
        iframe.video(src="https://www.youtube.com/embed/0HURMy0l4Ck")
        br


      br
      hr#projects
      br
      .para
        h2.sticky 社群成果
        p 自 2012 年底開始，零時政府以 g0v 黑客松作為起點，已舉辦了 3 次國際年會、3 屆公民科技獎助金、30+ 場黑客松、 30+ 場受邀演講、 100+ 次媒體報導，2000+ 遍布三大洲的貢獻者，成果皆以開放授權模式釋出。
        br
        mixin project(id,title)
          .row.mb-4.project
            .col-4
              .thumb(style="background-image:url(assets/img/projects/" + id + ".jpg)")
            .col-8
              h3= title
              hr
              block
        +project("budget","中央政府總預算視覺化")
          p The project supercharges citizens with the power of visualization and social network to supervise government spending. It displays different perspectives of budget data like historical trend, cross-department comparison, public opinion and component breakdown of tax by government spending with interactive treemap, bubble chart and feedback mechanism.
        +project("national-treasure","遺落在世界的國家寶藏")
          p 包括英美等國家這一百多年以來對台灣社會、地理、人物所做下的情蒐紀錄，提供了台灣人在回顧自己的過去時，更豐富的材料與角度，以及不同的思維，去重新描繪台灣人曾經的生活面貌。 在這裡，我們希望將這些資料重新進入公眾視野內，結合每個人獨特的視角，去重新書寫出台灣人生活的故事。
        +project("hackfoldr","Hackfoldr")
          p Hackfoldr is hacking briefcase. It is a tool developed to organize documents, websites, and online materials on one interface with a unified url.

          p Users can set up and manage a hackfoldr simply by editing a Google spreadsheet. Hackfoldr has been used to manage hackathon projects, to provide a collaborative space for government agencies, and to serve as an information hub for events such as the Sunflower Movement and the Umbrella Revolution, among many others.

        br
        br
        .text-center
          small.text-muted.d-block.mb-1 從不同管道了解更多成果：
          a.btn.btn-outline-danger.text-danger.mr-2(href="https://grants.g0v.tw") 獎助金成果頁
          a.btn.btn-outline-danger.text-danger.mr-2(href="https://www.youtube.com/user/g0vTW/playlists") 專案簡報影片
          a.btn.btn-outline-danger.text-danger.mr-2(href="https://flickr.com/g0v/") 活動平面紀錄
          a.btn.btn-outline-danger.text-danger.mr-2(href="https://github.com/g0v/awesome-g0v") awesome-g0v
      br
      hr#participate
      br
      .para
        h2.sticky 如何參與？
        p 了解 g0v 最快的方式就是實際來參與一次。無論線上或線下，你都可以找得到各種管道與社群參與者互動。
        h3 雙月黑客松與基礎松
        p 自 g0v 發起以來每兩個月舉辦一次的雙月黑客松 ( 大松 ) 已是 g0v 的常駐活動了，在這裡你可以找到形形色色的參與者，無論是老手、新手、各種不同領域的人，都在這個一整天的活動中熱烈地討論、實作、並在活動結束時將成果向大家發表。
        p 除了雙月黑客松以外，揪松團亦定期舉辦以社群基礎建設專案為主的「基礎松」，其他亦有各個 g0v 專案大大小小不定期的活動，可依自己關注的領域來選擇。
        p 雙月黑客松活動的更多細節可以在 #[a(href="https://hack.g0v.tw/") 黑客松入口網「揪松網」] 找到，你亦可關注 #[a(href="http://g0v-jothon.kktix.cc") 揪松團] 的公開活動頁面來隨時獲得最新活動的訊息。
        br
        h3 臉書後勤中心與 slack 討論群組
        p 除了線下活動外，社群參與者們也頻繁積極地在線上討論群組中交換專案的意見，是一個即時獲得社群回饋的方便管道。目前主要的討論群組包括：
        ul
          li: a(href="https://www.facebook.com/groups/g0v.general/") g0v 後勤中心 ( 臉書 )
          li: a(href="https://join.g0v.today") g0v 線上聊天室 ( Slack )
        p 使用線上討論群組請注意群組規範，並保持良好的態度與禮貌。

        br
        .text-center
          small.text-muted.d-block.mb-1 其他參與 g0v 的管道與方式：
          a.btn.btn-outline-danger.text-danger.mr-2(href="https://ocf.neticrm.tw/civicrm/contribute/transact?reset=1&id=30&_ga=2.218722001.93807760.1535621686-361420765.1511415990") 捐款認養 g0v 大松
          a.btn.btn-outline-danger.text-danger.mr-2(href="https://grants.g0v.tw") 至公民科技獎助金提案
          a.btn.btn-outline-danger.text-danger(href="https://g0v.network") 在自己國家發起 g0v 活動

  +nbr(3)

block script
  +script(root + "assets/threejs/r98/three.min.js")
  +script(root + "assets/svg-mesh/svg-mesh.js")
  +script(root + "landing.js")
